/JavaBasico/OlaMundoSwing/nbproject/private/
/JavaBasico/OlaMundoSwing/build/
/JavaBasico/OlaMundoJavaFX/nbproject/private/
/JavaBasico/OlaMundoJavaFX/dist/
/JavaBasico/OlaMundoJavaFX/build/
/JavaBasico/OlaMundoSwing/dist/
/JavaBasico/Ex02_RelogioSwing/nbproject/private/
/JavaBasico/Ex02_RelogioSwing/build/
/JavaBasico/Ex02_IdiomaSwing/nbproject/private/
/JavaBasico/Ex02_IdiomaSwing/build/
/JavaBasico/Ex02_TelaSwing/nbproject/private/
/JavaBasico/Ex02_TelaSwing/build/
/JavaBasico/TelasInfoSistema/nbproject/private/
/JavaBasico/TelaInfoSistema/nbproject/private/
/JavaBasico/TelaInfoSistema/dist/
/JavaBasico/TelaInfoSistema/build/
/JavaBasico/TiposPrimitivos/nbproject/private/
/JavaBasico/TiposPrimitivos/build/
/JavaBasico/TesteTipos/nbproject/private/
/JavaBasico/TesteTipos/build/
/JavaBasico/SomaSwing/nbproject/private/
/JavaBasico/SomaSwing/build/
/JavaBasico/SomaSwing/dist/
/JavaBasico/CalculadoraIdade/nbproject/private/
/JavaBasico/CalculadoraIdade/build/
